# Exclude Burp Interface Classes

IBurpCollaboratorClientContext.java
IBurpCollaboratorInteraction.java
IBurpExtenderCallbacks.java
IBurpExtender.java
IContextMenuFactory.java
IContextMenuInvocation.java
ICookie.java
IExtensionHelpers.java
IExtensionStateListener.java
IHttpListener.java
IHttpRequestResponse.java
IHttpRequestResponsePersisted.java
IHttpRequestResponseWithMarkers.java
IHttpService.java
IInterceptedProxyMessage.java
IIntruderAttack.java
IIntruderPayloadGeneratorFactory.java
IIntruderPayloadGenerator.java
IIntruderPayloadProcessor.java
IMenuItemHandler.java
IMessageEditorController.java
IMessageEditor.java
IMessageEditorTabFactory.java
IMessageEditorTab.java
IParameter.java
IProxyListener.java
IRequestInfo.java
IResponseInfo.java
IResponseKeywords.java
IResponseVariations.java
IScanIssue.java
IScannerCheck.java
IScannerInsertionPoint.java
IScannerInsertionPointProvider.java
IScannerListener.java
IScanQueueItem.java
IScopeChangeListener.java
ISessionHandlingAction.java
ITab.java
ITempFile.java
ITextEditor.java
